<div class="card">
    <h3 class="card-header">¡Hello!</h3>
    <div class="card-body">
        <h5 class="card-title">As you are a ROL-A user</h5>
        <h6 class="card-subtitle text-muted">You'll be able to:</h6>
    </div>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">Have access to Breaking Bad quotes.</li>
        <li class="list-group-item">Make a booking for your favourite event.</li>
    </ul>
    <div class="card-body">
        <a href="/breakingbad" class="card-link">Go to Breaking Bad quotes!</a>
        <a href="/booking" class="card-link">Let's make a booking!</a>
    </div>
</div>