.container {
    margin-top: 100px;
    width: 27.5%;
    border: solid 2px gainsboro;
    border-radius: 5px;
    padding: 2rem;
}

h1 {
    font-size: large;
    text-align: center;
    margin-bottom: 30px;
    color: dodgerblue;
}

p {
    text-align: justify;
}

.form-group {
    margin-bottom: 20px;
}