.card {
    padding: 20px;
    height: fit-content;
}

h1 {
    font-size: large;
}

.gral-container {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    width: 95%;
    height: 80%;
}

.links-card {
    margin-left: 10%;
    width: 60%;
}

.table {
    font-size: small;
}